{# Modal for Marca Configuration #}
<div class="modal fade" id="marcaModal" tabindex="-1" role="dialog" aria-labelledby="marcaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="marcaForm" method="POST">
                <input type="hidden" id="marcaId" name="marcaId">
                <div class="modal-header">
                    <h5 class="modal-title" id="marcaModalLabel">Agregar Marca</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="marcaNombre" class="form-label">Nombre (*)</label>
                        <input type="text" class="form-control form-control-sm" id="marcaNombre" name="nombre" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="me-auto text-muted"><small>(*) Campos obligatorios</small></span>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary btn-sm" id="btnGuardarMarca">Guardar Marca</button>
                </div>
            </form>
        </div>
    </div>
</div>
