<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My ERP App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('accounts_receivable_bp.index') }}">Accounts Receivable</a></li>
        <li><a href="{{ url_for('cash_and_banks_bp.index') }}">Cash and Banks</a></li>
        <li><a href="{{ url_for('product_catalog_bp.list_products') }}">Product Catalog</a></li>
      </ul>
    </nav>
    
    <div class="container">
      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>

  </body>
</html>
